
form{
    text-align:left;
    position:fixed;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    left:30%;
    display:block;
}
div{

    position:absolute;

}

h2 {
    position:fixed;
    bottom:7%;
    width:100%;
    text-align:center;

}
iframe{

    position:fixed;
    bottom:0px;
    width:500px;
    height:400px;
}
table{
  display:none;
}
input{
    padding:1em 20em;
}
form p {
  font-size:150%;
}
#comm{
  position:fixed;
  bottom:10%;
}
.SubButton{
    font-size:1em;
    padding:1em 16em;
    border:2px outset black;

}
input[type=text] {
  width: 79%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size:110%;
}
iframe{
  display:none;
}
